httpx~=0.16.1
pytchat~=0.5.3
matplotlib~=3.4.1
numpy~=1.20.1
wordcloud~=1.8.1
Pillow~=8.1.0
pytz~=2021.1
aiohttp~=3.7.4.post0
isodate~=0.6.0
mecabwrap~=0.3.2
many-stop-words~=0.2.2
youtube-data-api~=0.0.20
